.App {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content:center ;
  flex-direction: column;
  height: 100vh;

}
.palette{
 flex-direction: column;
 display: flex;
 margin-top: 40px;

}
.palette button{
  margin-top: 10px;
  color: beige;
  background-color: rgb(0, 0, 0);
}

